/Warehouse/.vs
artifacts
obj
/Warehouse/src/Warehouse.API/*.user
bin
/Warehouse/src/Warehouse.Data/obj
packages
/Warehouse/src/Warehouse.API/wwwroot/Logs.txt
*.user
project.lock.json
/Warehouse/src/Warehouse.Database/Warehouse.Database.dbmdl
/Publish
/Warehouse/test/Warehouse.API.UnitTests/Logs.txt
/Warehouse/test/Warehouse.BusinessLogic.UnitTests/Logs.txt
/Warehouse/TestResults/Warehouse.TE.Tests.mdf
/Warehouse/TestResults/Warehouse.TE.Tests_log.ldf
/Warehouse/src/Warehouse.AdminUI/node_modules
/Warehouse/src/Warehouse.Database/Warehouse.Database.jfm
/Warehouse/src/Warehouse.Database/.vs/Warehouse/v15/.suo
/Warehouse/src/Warehouse.API/appsettings.Development.json
.idea

/.vs
